
<div class="carousel" style="padding-bottom: 5px">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/images/home4.jpg"class="d-block w-100" alt="..."/>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 700px;">
              <h4 class="text-light text-uppercase font-weight-medium mb-3">20% Off Your First Order</h4>
              <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
              <a href="/products" class="btn btn-light py-2 px-3">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/images/home6.jpg" class="d-block w-100"alt="..."/>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 700px;">
              <h4 class="text-light text-uppercase font-weight-medium mb-3">20% Off Your First Order</h4>
              <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
              <a href="/products" class="btn btn-light py-2 px-3">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/home8.jpg" class="d-block w-100" alt="..."/>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 700px;">
              <h4 class="text-light text-uppercase font-weight-medium mb-3">20% Off Your First Order</h4>
              <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
              <a href="/products" class="btn btn-light py-2 px-3">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- cards import -->
<!-- Featured Product Start -->
<div class="container">
  <div class="featured-product product">
    <div class="container-fluid">
      <div class="section-header text-center">
        <h1>Our Products List</h1>
      </div>
      <div class="row align-items-center ">

        <div class="col-lg-3" > 
          <div class="product-item">
            <div class="product-image">
              <a routerLink="products">
                <img src="../../assets/images/product1.jpg" alt="Product Image" />
              </a>
            </div><div class="product-title">
              <a routerLink="products">Sofa</a>
            </div>
            <div class="product-price">
              <h3><span>₹</span>20099</h3>
              <a class="btn" routerLink="products" ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3" > 
          <div class="product-item">
            <div class="product-image">
              <a routerLink="products">
                <img src="../../assets/images/product2.jpg" alt="Product Image" />
              </a>
            </div><div class="product-title">
              <a routerLink="products">Wall Art</a>
            </div>
            <div class="product-price">
              <h3><span>₹</span>1899</h3>
              <a class="btn" routerLink="products" ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
          </div>
        </div>


        <div class="col-lg-3" > 
          <div class="product-item">
            <div class="product-image">
              <a routerLink="products">
                <img src="../../assets/images/product3.jpg" alt="Product Image" />
              </a>
            </div><div class="product-title">
              <a routerLink="products">Chair</a>
            </div>
            <div class="product-price">
              <h3><span>₹</span>3799</h3>
              <a class="btn" routerLink="products" ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3" > 
          <div class="product-item">
            <div class="product-image">
              <a routerLink="products">
                <img src="../../assets/images/product4.jpg" alt="Product Image" />
              </a>
            </div><div class="product-title">
              <a routerLink="products">Dinnig</a>
            </div>
            <div class="product-price">
              <h3><span>₹</span>21999</h3>
              <a class="btn" routerLink="products" ><i routerLink="products" class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-5">
  <div class="feature row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class=" d-flex align-items-center border mb-4" style="padding: 30px;">
              <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
              <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
              <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
              <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
              <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
              <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
          </div>
      </div>
  </div>
</div>
