
    <div class="register-photo">
      <div *ngIf="loggedin"class="p-2 container alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button"class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="form-container">
          <div class="image-holder"></div>
          <form method="post">
              <h2 class="text-center"><strong>Welcome back!</strong></h2>
              
              <div class="form-field"><input class="form-control" id="username" type="Username" name="Username" placeholder="Username"></div>
              <br>
              <div class="form-field"><input class="form-control" id="pwd" type="password" name="password" placeholder="Password"></div>
              <br>
            
              <div class="form-field">
                  <div class="d-flex justify-content-end">
                    <div>Not a member? <a routerLink="/register" class="text-info">Register</a> </div>
              </div><br>
              </div>
              <div class="form-group"><button class="btn btn-success btn-block btn-info" (click)="LogIn()" type="submit">Login</button></div><br><a class="already" href="#">Terms of Use and Privacy Policy</a>
          </form>
      </div>
  </div>